
// use all partials
@use './styles/base';
@use './styles/sidebar';
@use './styles/timeline';
@use './styles/modal';
@use './styles/buttons';
@use './styles/login';
@use './styles/responsive';
@use './styles/dark';
@use './styles/monthview';
@use './styles/weekview';
@use './styles/printable';